name: payment_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  go_router: ^14.0.0
  flutter_bloc: ^8.1.0
  get_it: ^7.6.0

  bank_module:
    path: ./bank_module/

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
